In [1]:
import pandas as pd
import numpy as np

In [3]:
#pip install polars

In [5]:
import polars as pl

In [7]:
#df=pl.read_csv("27032025_COMMERCE_PRACTICAL3.csv")

In [9]:
df=pd.read_excel("Final commerece pRACTICAL.xlsx")

In [11]:
df.head(4)

     RollNo  SUB  MRKS  AWM     REGN_NO
0  531EA004  ACT   0.0  NaN  EA31C21082
1  507MC007  ACT   0.0  NaN  MC07C22017
2  515ND001  ACT   0.0  NaN  ND15C22059
3  515ND002  ACT   0.0  NaN  ND15C22066

In [13]:
# Create a new column "Course_Type" based on the 6th and 7th characters of "REGN_NO"
df['Course_Type'] = df['REGN_NO'].apply(lambda x: 'Regular' if x[5] == '2' and x[6] == '3' else 'Ex_Regular')

# Print the updated DataFrame
##print(df[['REGN_NO', 'Course_Type']])  # Display only relevant columns

In [17]:
df['Course_Type'].value_counts()

Course_Type
Ex_Regular    6992
Regular       2384
Name: count, dtype: int64

In [21]:
# Create DataFrame with only "Regular" cases
df_regular = df[df["Course_Type"] == "Regular"]

# Create DataFrame with only "Ex_Regular" cases
df_ex_regular = df[df["Course_Type"] == "Ex_Regular"]

# Print to verify
print("Regular DataFrame:")
print(df_regular.head())

print("\nEx_Regular DataFrame:")
print(df_ex_regular.head())

Regular DataFrame:
       RollNo SUB  MRKS  AWM     REGN_NO Course_Type
732  217BA019  IT  14.0  NaN  BA17C23038     Regular
733  217BA032  IT  14.0  NaN  BA17C23064     Regular
734  217BA033  IT  14.0  NaN  BA17C23065     Regular
735  217BA035  IT  14.0  NaN  BA17C23067     Regular
736  217BA039  IT  14.0  NaN  BA17C23073     Regular

Ex_Regular DataFrame:
     RollNo  SUB  MRKS  AWM     REGN_NO Course_Type
0  531EA004  ACT   0.0  NaN  EA31C21082  Ex_Regular
1  507MC007  ACT   0.0  NaN  MC07C22017  Ex_Regular
2  515ND001  ACT   0.0  NaN  ND15C22059  Ex_Regular
3  515ND002  ACT   0.0  NaN  ND15C22066  Ex_Regular
4  515ND004  ACT   0.0  NaN  ND15C22091  Ex_Regular

In [23]:
# Use raw string (r"...") to avoid special character issues
df_regular.to_excel(r"C:\Users\Rammohan\Desktop\RAMMOHAN\commerce_regular.xlsx", index=False)
df_ex_regular.to_excel(r"C:\Users\Rammohan\Desktop\RAMMOHAN\commerce_ex_regular.xlsx", index=False)

In [25]:
df_regular.to_csv(r"C:\Users\Rammohan\Desktop\RAMMOHAN\commerce_regular.csv", index=False)
df_ex_regular.to_csv(r"C:\Users\Rammohan\Desktop\RAMMOHAN\commerce_ex_regular.csv", index=False)

In [27]:
# Save the DataFrame to an Excel file
##df.to_excel('Desktop\Commerece_reg_ex-reg.xlsx', index=False, engine='openpyxl')

##print("Excel file created successfully!")